 h1{
                text-align: center;
                margin-top: 50px;
            }
            .calculator{
                background-color: rgb(226, 218, 218);
                width: 300px;
                margin: auto;
                padding: 20px;
                border: 1px solid black;
                border-radius: 10px;
            }
            input{
                width: 100%;
                margin-top: 14px;
                padding: 12px;
                font-size: 18px;
                text-align: right;
                background-color: rgb(255, 255, 255);
            }
            .row{
                display: flex;
                justify-content: space-between;
            }
            button{
                width: 60px;
                height: 60px;
                font-size: 21px;
                margin: 5px;
            }
            .last{
                background-color: rgb(0, 0, 0);
                color: white;
            }
            .cancel{
                background-color: rgb(218, 26, 26);
                color: white;
            }